*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    background: linear-gradient(to right, #001951, #5A58FF);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 75vh;
    width: 75vw;
    background-image: url(../assets/vecteezy_wildlife-elk-in-forest-nature-landscape-vector-illustration_.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
}
h1{
    color: cornflowerblue;
    width: 25vw;
    text-align: center;
    font-size: 5vh;
    font-weight: 500;
    margin: 1vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: 5vw;

}
p{
    text-align: center;
    font-size: 2.5vh;
    margin-top: 0vh;
    margin-right: 45vw;
    margin-left: 4vw;
}
h2{
    text-align: left;
    font-size: 1.5vh;
    font-weight: 400;
    margin: 0.5vh;
}
h2 a{
    text-decoration: none;
    text-align: center;
    color: #509BBA;
    font-weight: 500;
    margin-left: 1vw;
    text-shadow: 2px 2px 5px #ffffff,-2px -2px 5px #ffffff,
    2px 2px 5px #ffffff,-2px -2px 5px #ffffff;
}
form{
    background:linear-gradient(to right,#509aba33 ,#509aba74);
    height: 70%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-inline-start: 4vw;
    margin-block-end: ;
    
}
input,button, #role{
    border: none;
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    margin-bottom: 10px;
}
button{
    background-color: #509BBA;
    color: aliceblue;
}
label{
    width: 14vw;
    text-align: start;
    margin-bottom: 2px;
}
#role, input::placeholder{
    color:#001951;
    padding-left: 1vw;
    font-weight: 600;
}
